-- MariaDB dump 10.17  Distrib 10.4.11-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: u987557742_crediblamensis
-- ------------------------------------------------------
-- Server version	10.4.11-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tb_asesores`
--

DROP TABLE IF EXISTS `tb_asesores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_asesores` (
  `idasesor` int(11) NOT NULL,
  `nombres` varchar(50) NOT NULL,
  `telefono` varchar(30) NOT NULL,
  `direccion` varchar(100) NOT NULL,
  `fechaRegistro` datetime NOT NULL,
  `estado` int(11) NOT NULL DEFAULT 1
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_asesores`
--

LOCK TABLES `tb_asesores` WRITE;
/*!40000 ALTER TABLE `tb_asesores` DISABLE KEYS */;
INSERT INTO `tb_asesores` VALUES (0,'Bmolina','00001','Managua, Nicaragua','2026-03-07 19:38:09',1),(1,'Oficina','00002','Managua','2024-02-06 12:07:42',1),(2,'Cpineda','00003','Managua, Nicaragua','2026-03-07 19:39:34',1),(3,'RLainez','00004','Managua, Nicaragua','2026-03-07 19:40:18',1);
/*!40000 ALTER TABLE `tb_asesores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_caja`
--

DROP TABLE IF EXISTS `tb_caja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_caja` (
  `idcaja` int(11) NOT NULL,
  `fecha_apertura` datetime NOT NULL,
  `monto_apertura` decimal(18,2) NOT NULL DEFAULT 0.00,
  `monto_cierre` decimal(18,2) NOT NULL DEFAULT 0.00,
  `fecha_cierre` datetime DEFAULT NULL,
  `estado` int(11) NOT NULL DEFAULT 1
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_caja`
--

LOCK TABLES `tb_caja` WRITE;
/*!40000 ALTER TABLE `tb_caja` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_caja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_caja_movimiento`
--

DROP TABLE IF EXISTS `tb_caja_movimiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_caja_movimiento` (
  `idcm` int(11) NOT NULL,
  `idcaja` int(11) NOT NULL,
  `tipo_movimiento` int(11) NOT NULL,
  `monto_movimiento` decimal(18,2) NOT NULL DEFAULT 0.00,
  `descripcion_movimiento` varchar(100) NOT NULL,
  `fecha_movimiento` datetime NOT NULL,
  `forma_pago` varchar(20) DEFAULT NULL,
  `tipo_doc` varchar(20) DEFAULT NULL,
  `numero_doc` varchar(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_caja_movimiento`
--

LOCK TABLES `tb_caja_movimiento` WRITE;
/*!40000 ALTER TABLE `tb_caja_movimiento` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_caja_movimiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_contratos`
--

DROP TABLE IF EXISTS `tb_contratos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_contratos` (
  `idcontrato` int(11) NOT NULL,
  `idprestamo` int(11) NOT NULL,
  `template_id` int(11) NOT NULL DEFAULT 0,
  `contenido` longtext COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_contratos`
--

LOCK TABLES `tb_contratos` WRITE;
/*!40000 ALTER TABLE `tb_contratos` DISABLE KEYS */;
INSERT INTO `tb_contratos` VALUES (1,1,0,'',15,'2026-03-03 09:43:20'),(2,2,0,'',15,'2026-03-03 10:35:51'),(3,3,0,'',15,'2026-03-03 15:03:36');
/*!40000 ALTER TABLE `tb_contratos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_detalle_simulacion`
--

DROP TABLE IF EXISTS `tb_detalle_simulacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_detalle_simulacion` (
  `iddetallesim` int(11) NOT NULL,
  `idsimulacion` int(11) NOT NULL,
  `numero_cuota` int(11) NOT NULL,
  `fecha_cuota` date NOT NULL,
  `monto_capital` decimal(18,2) NOT NULL,
  `monto_interes` decimal(18,2) NOT NULL,
  `monto_cuota` decimal(18,2) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_detalle_simulacion`
--

LOCK TABLES `tb_detalle_simulacion` WRITE;
/*!40000 ALTER TABLE `tb_detalle_simulacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_detalle_simulacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'u987557742_crediblamensis'
--

--
-- Dumping routines for database 'u987557742_crediblamensis'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-23  9:28:40
